<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quick Tips</key>
	<array>
		<string>This is a tip. A tip will show up when you start the app unless you turn it off in the settings menu.</string>
		<string>A quick way to switch between training and listening modes is by pinching. Pinch out for listening mode and in for training.</string>
		<string>Think you mastered all the intervals? Try switching up the playmode for a new challenge.</string>
		<string>If you think things are playing too fast or too slow you can change the tempo in the settings menu.</string>
		<string>Changing the root and high octaves in settings will set a range of octaves that notes will play in.</string>
		<string>Want to stay in one octave while training? You can set the low and high octaves to both be C3 or C4. This will keep you in one octave.</string>
		<string>Want to know how well you are doing? Scroll up to view stats for your current session.</string>
		<string>If you are having a hard time guessing the intervals try listening mode. Tap any interval in this mode to hear how it sounds.</string>
		<string>Has this app improved your ability to recognize intervals or chords? If so why not give us a good rating or share it with your friends.</string>
	</array>
	<key>Interval Tips</key>
	<array>
		<string>If you devote time to practicing daily, you can develop an instant recognition of intervals.</string>
		<string>If you are new to intervals we recommend you start on beginner difficulty. As you train you can work your way up to pro.</string>
		<string>Try to listen for intervals as they come throughout the day, as you practice you will notice them more and more.</string>
		<string>Devote more attention to intervals you are having the most trouble with. Try listening mode to get a better idea of how they sound.</string>
		<string>The perfect fifth has a very clear resonance. It is stable and pure. The fifth will sound very clean and pleasant to your ear.</string>
		<string>The fifth and the fourth are the closest of all intervals and are often confused. Try to listen for small differences between them.</string>
		<string>The resonance of a major third is bright and vibrant, while the minor third is dark and mellow.</string>
		<string>The tritone has its own distinct sound and is unique among other intervals.</string>
	</array>
	<key>Chord Tips</key>
	<array>
		<string>Chords are made up of combinations of intervals.</string>
		<string>The four basic triad chords are made up of a major or minor third and a perfect or augmented fifth.</string>
		<string>If you can&apos;t recognize a chord when the notes are played together, change the playmode to separate the notes.</string>
		<string>Try listening mode if you are having a hard time. Listen to the chords and try to notice each one&apos;s particular resonance.</string>
	</array>
	<key>Tips</key>
	<array>
		<dict>
			<key>tip</key>
			<string>This is a tip. A tip will show up when you start the app unless you turn it off in the settings menu.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>A quick way to switch between training and listening modes is by pinching. Pinch out for listening mode and in for training.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Think you mastered all the intervals? Try switching up the playmode for a new challenge.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>If you think things are playing too fast or too slow you can change the tempo in the settings menu.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Changing the root and high octaves in settings will set a range of octaves that notes will play in.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Want to stay in one octave while training? You can set the low and high octaves to both be C3 or C4. This will keep you in one octave.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Want to know how well you are doing? Scroll up to view stats for your current session.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>If you are having a hard time guessing the intervals try listening mode. Tap any interval in this mode to hear how it sounds.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Has this app improved your ability to recognize intervals or chords? If so why not give us a good rating or share it with your friends.</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>If you devote time to practicing daily, you can develop an instant recognition of intervals.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>If you are new to intervals we recommend you start on beginner difficulty. As you train you can work your way up to pro.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Try to listen for intervals as they come throughout the day, as you practice you will notice them more and more.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Devote more attention to intervals you are having the most trouble with. Try listening mode to get a better idea of how they sound.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>The perfect fifth has a very clear resonance. It is stable and pure. The fifth will sound very clean and pleasant to your ear.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>The fifth and the fourth are the closest of all intervals and are often confused. Try to listen for small differences between them.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>The resonance of a major third is bright and vibrant, while the minor third is dark and mellow.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>The tritone has its own distinct sound and is unique among other intervals.</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Chords are made up of combinations of intervals.</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>The four basic triad chords are made up of a major or minor third and a perfect or augmented fifth.</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>If you can&apos;t recognize a chord when the notes are played together, change the playmode to separate the notes.</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>tip</key>
			<string>Try listening mode if you are having a hard time. Listen to the chords and try to notice each one&apos;s particular resonance.</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
